// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	.loading-icon {
		height: 10px;
		width: 6px;
		background-color: #000;
		&:not(:last-child) {
			margin-right: 5px;
		}
	}
	&.hide {
		display: none;
	}
}

