// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

.mv {
	min-height: 100%;
	background-image: url(../img/img01.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.section {
	height: 800px;
}

.btn {
	background-color: #000;
  color: #fff;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	right: 2rem;
	top: 2rem;
	position: fixed;
	z-index: 2;
}

.drawer {
  width: 100%;
  min-height: 100%;
  right: -100%;
  top: 0;
  z-index: 1;
  transition: all 0.4s;
  position: fixed;
  transform: translate3d(0,0,0);
	background-color: #D8E9EC;

  &.active {
    right: 0%;
  }

}

body {
	position: relative;
}