// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	.loading-icon {
		border-radius: 50%;
		border: 8px solid transparent;
		border-top: 8px solid #D8EAED;
		height: 50px;
		width: 50px;
		animation: spin 1.0s infinite linear;
	}
	&.hide {
		display: none;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


