// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

body {
	background-color: #D8EAED;
}

.inner {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.menuIcon {
	border-radius: 50%;
	background-color: #fff;
	height: 4rem;
	width: 4rem;
	padding: 40px;
	box-sizing: border-box;
	position: absolute;
	right: 30px;
	top: 15px;
	.menuIconBar {
		background-color: #D8EAED;
		display: inline-block;
		position: absolute;
		left: calc(50% - 2rem);
		top: calc(50% - 1.5px);
		transition: all 0.2s;
		background-color: yellow;
		// ３つのバーそれぞれに疑似要素を2つ与える
		&::after, &::before {
			position: absolute;
			top: 0px;
			content: '';
			display: inline-block;
			width: 2rem;
			height: 2px;
			background-color: #D8EAED;
			transform: rotate(0deg);
			transition: all 0.2s;
		}
		&::before {
			left: 0px;
			// transform: translateX(0px);
		}
		&::after {
			left: 2rem;
			// transform: translateX(0px);
		}
		&:nth-child(2) {
			transform: translateY(0);
			&.active {
				&::before {
					transform: translateX(-100px);
					opacity: 0;
				}
				&::after {
					transform: translateX(100px);
					opacity: 0;
				}
			}
		}
		&:nth-child(1) {
			transform: translateY(-14px);
			&.active {
				// transform: translateY(0px);
				&::before {
					transform: rotate(45deg);
				}
				&::after {
					transform: rotate(-45deg);
				}
			}
		}
		&:nth-child(3) {
			transform: translateY(14px);
			&.active {
				// transform: translateY(0px);
				&::before {
					transform: rotate(-45deg);
				}
				&::after {
					transform: rotate(45deg);
				}
			}
		}
	
}
}