// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

#dot {
	width: 100px;
	height: 100px;
	background-color: rgba(255, 0 ,0 ,1);
	border-radius: 50%;
}