// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";


.inner {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.menuIcon {
	border-radius: 50%;
	background-color: #fff;
	height: 4rem;
	width: 4rem;
	padding: 40px;
	box-sizing: border-box;
	position: absolute;
	right: 30px;
	top: 15px;
	.menuIconBar {
		background-color: #D8EAED;
		width: 4rem;
		height: 3px;
		display: inline-block;
		position: absolute;
		left: calc(50% - 2rem);
		top: calc(50% - 1.5px);
		transition: all 0.3s;
		&:nth-child(2) {
			transform: translateY(0);
			position: absolute;
			background-color: transparent;
			&::after { // バー
				content: '';
				display: block;
				width: 4rem;
				height: 3px;
				background-color: #D8EAED;
				transition: all 0.3s;
			}
			&::before { //波紋
				content: '';
				display: block;
				width: 80px;
				height: 80px;
				border-radius: 100%;
				border: solid 3px #D8EAED;
				position: absolute;
				left: calc(50% - 40px);
				top: calc(50% - 40px);
				opacity: 0;
			}
			&.active {
				&::before {
					opacity: 1;
				}
				&::after {
					transform: translateX(100px);
					opacity: 0;
				}
			}
		}
		&:nth-child(1) {
			transform: translateY(-10px);
			&.active {
				transform: translateY(0) rotate(-45deg);
			}
		}
		&:nth-child(3) {
			transform: translateY(10px);
			&.active {
				transform: translateY(0) rotate(45deg);
			}
		}
	}
}



