// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";


.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.obj {
		width: 500px;
		height: 500px;
	}
}

.dummy_height {
	position: absolute;
	top: 6000px;
	width: 1px;
	height: 1px;
}

