// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#item {
	background-color: #D8EAED;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;

}