// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

// スライドダウンのアコーディン実装ポイント
// .list-content にoverflow: hidden とmax-height: 0rem;をつける
// .list-txtにpaddingをつけること（.list-contentにつけてはいけない）

.list {
	margin: 0 auto;
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
	.list-item {
		.list-tit {
			padding: 2rem;
			background-color: #eeeeee;
		}
		.list-content {
			height: 0rem;
			line-height: 2;
			overflow: hidden;
			transition: height 0.4s ease 0s;
			.list-txt {
				padding: 4rem;
			}
		}
	}
}