// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

body {
	background-color: #D8EAED;
	cursor: none; // デフォルトのカーソルを消す
	width: 100%;
	height: 100%;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	#clickableArea {
		display: inline-block;
		padding: 50px 50px;
		cursor: none;
	}
}

#cursor, #cursor-follower {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	pointer-events: none;
}

#cursor {
	background-color: #000000;
	z-index: 10001;
	width: 8px;
	height: 8px;
}

#cursor-follower {
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1000;
	width: 60px;
	height: 60px;
	transition: transform 0.2s;
	&.active {
		transform: scale(2.8);
	}
}


