// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

body {
	background-color: #D8EAED;
}

.inner {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.menuIcon {
	border-radius: 50%;
	background-color: #fff;
	height: 4rem;
	width: 4rem;
	padding: 40px;
	box-sizing: border-box;
	position: absolute;
	right: 30px;
	top: 15px;
	.menuIconBar {
		background-color: #D8EAED;
		width: 4rem;
		height: 3px;
		display: inline-block;
		position: absolute;
		left: calc(50% - 2rem);
		top: calc(50% - 1.5px);
		// transition: all 0.2s;
		&:nth-child(2) {
			transform: translateY(0);
		}
		&:nth-child(1) {
			transform: translateY(-10px);
		}
		&:nth-child(3) {
			transform: translateY(10px);
		}
	}
}
