// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

body {
	background-color: #D8EAED;
}

.inner {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.menuIcon {
	border-radius: 50%;
	background-color: #fff;
	height: 4rem;
	width: 4rem;
	padding: 40px;
	box-sizing: border-box;
	position: absolute;
	right: 30px;
	top: 15px;
	.menuIconBar {
		background-color: #D8EAED;
		width: 4rem;
		height: 3px;
		display: inline-block;
		position: absolute;
		left: calc(50% - 2rem);
		top: calc(50% - 1.5px);
		transition: all 0.2s;
		&:nth-child(2) {
			transform: translateY(0);
			background-color: transparent;
			&::after, &::before {
				position: absolute;
				top: 0px;
				left: 0px;
				content: '';
				display: inline-block;
				width: 4rem;
				height: 3px;
				background-color: #D8EAED;
				transform: rotate(0deg);
				transition: all 0.2s;
			}
			&.active {
				&::after {
					transform: rotate(45deg);
				}
				&::before {
					transform: rotate(135deg);
				}
			}
		}
		&:nth-child(1) {
			transform: translateY(-10px);
			&.active {
				width: 0;
				left: 100%;
			}
		}
		&:nth-child(3) {
			transform: translateY(10px);
			&.active {
				width: 0;
				left: -100%;
			}
		}
	}
}
