@charset "UTF-8";
html {
  font-size: 62.5%;
  /* 16px*62.5%=10px */
}

body {
  color: #333333;
  font-size: 1.6rem;
  /* 10px*1.6=16px; */
  letter-spacing: 0.1em;
  font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic",Osaka,sans-serif,Helvetica,Helvetica Neue,Arial,Verdana;
  background-color: #ffffff;
}

html, body {
  height: 100%;
  min-height: 100%;
}

ol, ul {
  list-style: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  color: #333333;
}

a:link, a:visited, a:hover, a:active {
  color: #333333;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 400;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* padding,marginがない要素もあるので、絞って内部・外部余白をリセット */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* テーブルのボーダーを一本化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 古いブラウザで起こりがちな画像の周りにブルーの線がつくのを防ぐ */
fieldset, img {
  border: 0;
}

.header {
  height: 100px;
}

.header .header-inner {
  padding-right: 20px;
  padding-left: 20px;
}

#container {
  width: 410px;
  margin: 0 auto;
  position: relative;
}

#container #conversionBtnFixed {
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: #000;
  color: #ffffff;
  opacity: 0;
  transition: opacity 1.2s ease 0s;
}

#container #conversionBtnFixed.active {
  opacity: 1;
}

#container #wrapper {
  border-radius: 1.6rem;
  height: 500px;
  overflow: scroll;
}

.section {
  width: 100%;
  height: 600px;
  padding: 2rem;
}

.section01, .section03, .section05 {
  background-color: #ccc;
}

.section02, .section04, .section06 {
  background-color: #e0e0e0;
}
