// scss
@import "base/_base";
@import "base/_reset";
@import "mixin/_mixin";
@import "setting/_variables";

body {
	background-color: #F5F5F5;
	color: #333333;
}

.section {
	height: 500px;
	padding-top: 200px;
	.section-txt {
		text-align: center;
		width: 70%;
		margin: 0 auto;
		font-size: 30px;
	}
}

.section01 {
	background-color: #006C61;
	clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%); // 頂点の位置（左上、右上、右下、左下）
	.section-txt {
		color: #ffffff;
	}
}

.section03 {
	background-color: #006C61;
	clip-path: polygon(0 0, 100% 32%, 100% 100%, 0 100%);
	.section-txt {
		color: #ffffff;
	}
}
